<h2 mat-dialog-title>Create User</h2>
<mat-dialog-content>
    <form [formGroup]="formEditUser" (ngSubmit)="onSubmit()">
        <label for="nome">Nome:
            <input id="nome" type="text" formControlName="nome" placeholder="Digite o nome.." value={{data.user.nome}}/> 
        </label>

        <label for="nome">E-mail:
            <input id="email" type="email" formControlName="email" placeholder="Digite o e-mail.." [value]="data.user.email"/> 
        </label>
        <button matButton mat-dialog-close type="submit" [disabled]="!formEditUser.valid">Edit</button>
    </form>
</mat-dialog-content>