h1 {
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid rgb(102, 84, 150);
}

.btn-open-dialog-create-post {
    width: 50%;
    height: 28px;
    background-color: transparent;
    border: 1px solid rgb(14, 128, 14);
    cursor: pointer;
    transition: background-color .3s ease;

    &:hover {
        background-color: rgb(191, 252, 191);
    }
}

.post-container {
    .post-content-main {
        border-left: 1px solid rgb(192, 191, 191);
        padding: 4px;
        margin-bottom: 5px;

        .btn {
            margin-bottom: 8px;

            .btn-delete {
                background-color: transparent;
                border: 1px solid rgb(104, 2, 2);

                &:hover {
                    cursor: pointer;
                    background-color: rgb(226, 200, 200);
                }
            }

            .btn-edit {
                margin-left: 8px;
                background-color: transparent;
                border: 1px solid rgb(15, 112, 168);

                &:hover {
                    cursor: pointer;
                    background-color: rgb(195, 228, 247);
                }
            }
        }

        .post-content {

            p {
                margin: 0;
            }

            .title {
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
}

.posts-viewer {
    width: 350px;
}