h1 {
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid rgb(102, 84, 150);
}

.btn-open-dialog-create-post {

    width: 50%;
    height: 28px;
    background-color: transparent;
    border: 1px solid rgb(14, 128, 14);
    cursor: pointer;
    transition: background-color .3s ease;

    &:hover {
        background-color: rgb(191, 252, 191);
    }
}

.post-container {
    .post-content {
        margin: 10px 0;

        p {
            margin: 0;
        }

        .title {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}