<h2 mat-dialog-title>Create Post</h2>
<mat-dialog-content>
    <form [formGroup]="formPost" (ngSubmit)="onSubmit()">
        <label for="title">Título:
            <input id="title" type="text" formControlName="title" placeholder="Digite o titulo.."/> 
        </label>

        <label for="description">Descrição:
            <input id="description" type="text" formControlName="description" placeholder="Digite a descrição.."/> 
        </label>
        <button matButton mat-dialog-close type="submit" [disabled]="!formPost.valid">Create</button>
    </form>
</mat-dialog-content>